<div id="info">
	<div class="alt">Bitte Geduld! Sollte es trotzdem nicht klappen, bitte folgende Tasten nach einander drücken.</div>
	<img src="./ui/img/keyboard_strg.png">
	<span> + </span>
	<img src="./ui/img/keyboard_c.png">
	<span style="padding: 25px;"></span>
	<img src="./ui/img/keyboard_win.png">
	<span> + </span>
	<img src="./ui/img/keyboard_r.png">
	<span style="padding: 25px;"></span>
	<img src="./ui/img/keyboard_strg.png">
	<span> + </span>
	<img src="./ui/img/keyboard_v.png">
	<span style="padding: 25px;"></span>
	<img src="./ui/img/keyboard_enter.png">
</div>
<input readonly="readonly" id="tooltip" value="">