/**
 * @file global.css
 *
 * @brief Defines essential styles
 *
 * Color definitions:
 *
 *  Background: #000000
 *  Primary:	#FFFFFF
 *	
 */


html {
	background: #000000;
	color:		#FFFFFF;
	overflow: scroll;
	height: 100%;
}

body {
	overflow: hidden;
	max-width: 100%;
	margin: 0;
	padding: 0;
	height: inherit;
}

html a,
html a:focus,
html a:hover,
html a:visited { outline: none; text-decoration: none; }

#main {
	height: inherit;
}

#main > #head {}

#main > #footer {}

#main > #content {
	height: inherit;
}

#main > #content > #container {
    display: inline-block;
    left: 50%;
    position: relative;
    top: 25%;
    bottom: 25%;
}

#main > #content > #container > #box {
    left: -50%;
    position: relative;
}

#main > #content > #container > #box > .slot {
	float: left;
	padding: 0;
	margin: 0;
}

#main > #content > #container > #box > .slot > img {
	height: auto;
	width: auto;
	border: none;
	outline: none;
	cursor: pointer;
}